.products-wrapper, header{
  width: 98vw;
  margin: 0 auto;
}
.products, nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
nav{
  width: auto !important;
}
.product{
  position: relative;
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: .4rem .4rem .4rem 0;
}
.product input{
  position: absolute;
  left: 1%;
  top: 1%;
}
.product p{
  margin: .4rem 0;
}

nav{
  justify-content: space-between;
}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul li {
  margin: 0 1rem;
}
button{
  padding: .4rem 1rem;
}

.input-wrapper{
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .4rem 1rem;
}
form input, select{
  width: 20rem;
  padding: .5rem;
}
#rot{
  position: relative;
}

.footer{
  display: block;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 98vw;
  text-align: center;
  margin: 0 auto;
  transform: translateY(-50%);
}
header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  .footer {
    
    display: none;
  }
  .input-wrapper{
    width: 98vw;
  }
}

